$primary-color-light: #37474f;
$dark-color-light: #102027;
$light-color-light: #62727b;
$secondary-color-light: #4fc3f7;

$text_primary-color-light: #2b2011;
$text_secondary-color-light: #efffd6;

$white: #f4eeee;
